@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

:root {
    
    --text: #030303;
    --backred: #570505;
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
    --cartbg: #36030e;
    --mainbg: #160206;
    --border: #050014;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/*Header y navbar*/

header {
    background-color: var(--backred) ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px;
    position: absolute;
}

.logo a {
    color: var(--text-white);
    font-family: 'Poor Story', cursive;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    width: 100px;
}

.logotitle::after {
    content:"Akuryo \a Manga & Comics";
    white-space: pre;
}

.navbar,
.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 150px;
}

.nav-list {
    gap: 30px;
}

.nav-list a {
    color: var(--text-gray);
    font-size: 20px;
}

.nav-list li:first-child > a {
    color: var(--text-white);
    font-weight: 600;
}

.navbar a:hover{
    background-color: var(--cartbg);
    border-radius: 10px;
    border: 3px black solid;
    box-shadow: 7px 7px black;
    padding: 5px 5px;
    transition: all 0.3s;
    
}

.cart-icon {
    font-weight: 600;
    border-radius: 10px;
    height: 35px;
    padding: 10px 18px;
    margin-right: 1rem;
    background-color: var(--cartbg);
    color: var(--text-white);
    border: 1px solid var(--text);
    cursor: pointer;
}

/* Main*/

main {
    background: rgb(22,2,6);
background: linear-gradient(0deg, rgba(22,2,6,1) 5%, rgba(86,5,5,1) 90%, rgba(87,5,5,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*Hero*/

#hero {
    border: solid var(--border);
    border-radius: 15px;
    margin-top: 90px;
    padding: 50px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info h1 {
    font-family: 'Poor Story', cursive;
    font-size: 40px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: var(--text-white);
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info p {
    color: var(--text-gray);
    font-size: 20px;
    width: 75%;
}

#hero span {
    color: var(--text-white);
    font-weight: 600;
}

.hero-img {
    border-radius: 15px;
    border: solid var(--border);
}

/*Info sobre nosotros*/

#nosotros {
    border: solid var(--border);
    border-radius: 15px;
    margin: 30px 30px;
    padding: 10px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.nosotros-info h1 {
    font-family: 'Poor Story', cursive;
    color: var(--text-white);
    font-size: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros-info {
    color: var(--text-gray);
    padding: 5px 10px;
    font-size: 20px;
}

/*Cards*/

#cards {
    border: solid var(--border);
    border-radius: 15px;
    margin: 30px 30px;
    padding: 10px 0;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

#cards h1 {
    font-family: 'Poor Story', cursive;
    color: var(--text-white);
    font-size: 40px;
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.productos {
    margin: 10px;
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productos h2 {
    padding: 5px;
    color: var(--text-white);
    display: flex;
    justify-content: center;
}

.productos h2:hover {
    background-color: var(--border);
    border-radius: 10px;
    padding: 5px 5px;
    transition: 0.3s;
}

.nacionales img {
    height: 350px;
    width: 250px;
    border: solid var(--border);
    border-radius: 15px;
}


.eng img {
    height: 350px;
    width: 250px;
    border: solid var(--border);
    border-radius: 15px;
}

.jp img {
    height: 350px;
    width: 250px;
    border: solid var(--border);
    border-radius: 15px;
}

.comic img {
    height: 350px;
    width: 250px;
    border: solid var(--border);
    border-radius: 15px;
}

/* Contacto*/

#contacto {
    border: solid var(--border);
    border-radius: 15px;
    margin: 30px 30px;
    padding: 10px 0;
    max-width: 1200px;
}

#contacto h1 {
    font-family: 'Poor Story', cursive;
    font-size: 40px;
    font-weight: 800;
    color: var(--text-white);
    display: flex;
    justify-content: center;
}

#contacto p {
    color: var(--text-gray);
    padding: 5px 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.form-contacto {
    color: var(--text-gray);
    display: flex;
    flex-direction: column;
}

.nombre {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    
}

.nombre label {
    display: flex;
    justify-items: center;
}

.correo {
    margin: 10px;
    padding: 10px;
    font-size: 20px;

}

.correo label {
    display: flex;
    justify-items: center;
}

.telefono {
    margin: 10px;
    padding: 10px;
    font-size: 20px;

}

.telefono label {
    display: flex;
    justify-items: center;
}

.consulta {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.consulta label {
    display: flex;
    justify-items: center;
}

.enviar input {
    background-color: var(--cartbg);
    color: var(--text-white);
    font-size: 16px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.enviar input:hover {
    background-color: var(--cartbg);
    border-radius: 10px;
    border: 3px black solid;
    box-shadow: 7px 7px black;
    padding: 5px 5px;
    transition: all 0.3s;
}

/*Mapa*/

#ubicacion {
    border: solid var(--border);
    border-radius: 15px;
    margin: 30px 30px;
    padding: 10px 0;
    width: 1200px;
}

#ubicacion h1 {
    font-family: 'Poor Story', cursive;
    font-size: 40px;
    font-weight: 800;
    color: var(--text-white);
    display: flex;
    justify-content: center;
}

#ubicacion p {
    color: var(--text-gray);
    padding: 5px 10px;
    font-size: 20px;
    display: flex;
    justify-content: center; 
}

.mapa {
   margin: 20px 20px;
   display: flex;
   justify-content: center;
}

/*Footer*/

footer {
    background: rgb(87,5,5);
    background: linear-gradient(0deg, rgba(87,5,5,1) 38%, rgba(22,2,6,1) 99%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
}

footer a {
    color: var(--text-gray);
    font-weight: 300;
    font-size: 14px;
}

footer p {
    color: var(--text-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo p img {
    height: 150px;
    width: 150px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-logo span {
    font-family: 'Poor Story', cursive;
    font-size: 20px;
    font-weight: 600;
}